.results{
  display: flex;
  
}

.resultsMain {
  display: flex;
  flex-direction: column;
  
}
.resultsIntro{
  display: flex;
  justify-content: space-between;
  padding-left: 53px;
}

.resultsIntro h1{
  font-size: 2.25rem;
  line-height: 45px;
  padding: 20px 0px;
  margin-top: 15px;
}

.resultsIntro p{
  font-size: 1.1rem;
}
.resultsIntro .bold{
  font-weight: 600;
}

.resultsIntro ul{
  margin-top: 20px;
}
.resultsIntro button{
  margin-top: 40px;
  margin-right: 30px;
  width: 180px;
}

/* toggle weekends button */
.toggleWeekends{
  background-color: #D3D3D3;
  color: #000000;
  border: none;
}

.toggleWeekends img{
  width: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.toggleWeekends:hover{
  background-color: #D3D3D3;
}

.calendarHeader{
  padding-left: 53px;
  padding-top: 25px;
  text-align: left;
}

.results .text{
  color: #1657F3;
}

.results .calendar_default_main {
  min-width: 1200px;

}


.results .calendar_default_cell {
  height: 10px;
}

.results .calendar_default_corner_inner{
  border-right: none;
}

.results .calendar_default_colheader_inner {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  border-right: none;
  border-left: none;
  /* min-width: 130px; */
}

.results .calendar_default_cell_inner {
  border-left: 1px solid grey;
  /* min-width: 140px; */
  /* max-width: 170px; */
}

/* events styling  */
/* .results .calendar_default_event_inner{
  width: 25px;
  padding: 6px 0 0 6px ;
  font-weight: 600;
  margin-left: 10px;
} */

/* this doesn't work to target them */
/* .results div.user1{
  left: 0;
  width: 100%;
}
.results div.user2{
  left: 20px;
  width: 100%;
} */

/* events with square ends  */
.results .calendar_default_event_inner {
  width: 29px;
  padding: 6px 0 0 6px;
  font-weight: 600;
  margin-left: 10px;
  border-radius: 0;
  margin-right: 10px;
}
/* background for each user */
.results .calendar_default_event_inner {
  background: #D3D3D3;
  border-radius: 10px;
}
.results  div.user1 > div.calendar_default_event_inner{
  /* background: linear-gradient(0deg, #D3D3D3 0 70%, #ff3db1 30% 100%); */
  background: #D3D3D3;
  border: 2px solid #ff3db1;
}
.results div.user2>div.calendar_default_event_inner {
  /* background: linear-gradient(0deg, #D3D3D3 0 70%, #ff6b00 30% 100%); */
  background: #D3D3D3;
  border: 2px solid #ff6b00;
}
.results div.user3>div.calendar_default_event_inner {
  /* background: linear-gradient(0deg, #D3D3D3 0 70%, #ffe500 30% 100%); */
  background: #D3D3D3;
  border: 2px solid #ffe500;
}
.results div.user4>div.calendar_default_event_inner {
  /* background: linear-gradient(0deg, #D3D3D3 0 70%, #49c491 30% 100%); */
  background: #D3D3D3;
  border: 2px solid #49c491;
}
.results div.user5>div.calendar_default_event_inner {
  /* background: linear-gradient(0deg, #D3D3D3 0 70%, #4198f7 30% 100%); */
  background: #D3D3D3;
  border: 2px solid #4198f7;
}
.results div.user6>div.calendar_default_event_inner {
  /* background: linear-gradient(0deg, #D3D3D3 0 70%, #b03ce7 30% 100%); */
  background: #D3D3D3;
  border: 2px solid #b03ce7;
}

.results div.overlap>div.calendar_default_event_inner{
  width: 100%;
  padding: 0;
  background: rgb(231, 148, 148);
  border: 2px solid #1657F3;
  border-radius: none;
}

.results div.overlap:nth-of-type(1){
  z-index: 4;
  width: 100%;
  left: 0;
  border-radius: none;
}




/* right and left arrow icon from <a href="https://www.flaticon.com/free-icons/next"title="next icons">Next icons created by Roundicons - Flaticon</a> */