.results{
  display: flex;
  
}

.resultsMain {
  display: flex;
  flex-direction: column;
  /* flex-basis: 45em; */
  /* margin-left: 278px;
  margin-right: 5px; */
}
.resultsIntro{
  padding-left: 53px;
}

.resultsIntro h1{
  font-size: 2.25rem;
  line-height: 45px;
  padding: 20px 0px;
}

.resultsIntro p{
  font-size: 1rem;
}
.resultsIntro .bold{
  font-weight: 600;
}


.calendarHeader{
  padding-left: 53px;
  padding-top: 25px;
  text-align: left;
}

.results .text{
  color: #1657F3;
}

.results .calendar_default_main {
  min-width: 1200px;

}


.results .calendar_default_cell {
  height: 10px;
}

.results .calendar_default_corner_inner{
  border-right: none;
}

.results .calendar_default_colheader_inner {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  border-right: none;
  border-left: none;
  /* min-width: 130px; */
}

.results .calendar_default_cell_inner {
  border-left: 1px solid grey;
  min-width: 130px;
  /* max-width: 170px; */
}

/* events styling  */
.results .calendar_default_event_inner{
  width: 25px;
  padding: 3px 9px;
  font-weight: 600;
  margin-left: 10px;
}


/* .target {
  width: 14%;
  margin-left: 10px;
} */



